.pickPlanSignUp {
    display: flex;
}

.signup__packageCard {
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
}

.signup__packageCard>h4 {
    font-weight: 400;
    color: rgb(79, 79, 79);
    margin-bottom: 40px;
}

.signup__packageCard>button {
    background: linear-gradient(153deg, rgba(122, 66, 251, 1) 0%, rgba(54, 128, 115, 1) 100%);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
}

.signup__packageCard>a {
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: center;
    align-self: center;
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-size: 13px;
}

.signup__packageCard>a>svg {
    margin-left: 10px;
}

.packageSelectConatiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}