.signUpSuccess {
    display: flex;
}

.signUpSuccess__card {
    padding: 40px 120px;
    margin-top: 50px;
}

.signUpSuccess__card>button {
    background-color: #FA612F;
    color: #fff;
    padding: 15px;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
    margin-top: 80px;
    cursor: pointer;
    transition: 0.5s all;
}

.signUpSuccess__card>button:hover{
    background-color: #c23a0c;
}