.modal_header{
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.modal_header>h2{
    font-weight: 300;
}

.modal_header>button{
   background: none;
   outline: none;
   border: none;
   color: #6b6b6b;
   cursor: pointer;
}

.modal_content{
    padding: 10px;
}

.sch__from_top{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.toggleSwictch{
    position: relative;
}
 
.sch__from_dateWrapper>select{
    border: rgb(213, 212, 212) 1px solid;
    padding: 5px;
    border-radius: 5px;
    color: #6b6b6b;
    margin-right: 10px;
    outline: none;
}

.sch__from_timeWrapper{
    margin-top: 10px;
    margin-bottom: 20px;
}

.sch__from_timeWrapper>select{
    border: rgb(213, 212, 212) 1px solid;
    padding: 5px;
    border-radius: 5px;
    color: #6b6b6b;
    margin-right: 10px;
    outline: none;
}

.modal_content>p{
    color: #6b6b6b;
    font-size: 13px;
}


.modal__footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #dddddd;
}