.header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 50px;
}

.header__left {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left>img {
    height: 25px;
    padding-bottom: 10px;
}

.header__right {
    flex: 0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}