.menuOption {
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: solid 4px transparent;
}

.menuOption>a {
    line-height: 30px;
    color: #4E585D;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
}

.menuOption:hover {
    border-bottom: solid 4px #FDBC62;
}